In [ ]:
print("hello")
%pip install pandas lxml --upgrade

In [ ]:
%pip install requests

In [3]:
%pip install lxml

268.65s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: lxml in /Users/boopeshkumar/venvs/jupyter/lib/python3.14/site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import requests
from io import StringIO

URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

headers = {
    "User-Agent": "Mozilla/5.0 (compatible; Pandas/2.x; Python)"
}

response = requests.get(URL, headers=headers)
response.raise_for_status()  # raises exception for non-200 responses


tables = pd.read_html(StringIO(response.text), flavor="lxml")

In [6]:
df =tables[0][["Event", "Time"]]

df.head()

df.tail()

                        Event     Time
15     200m individual medley  1:52.69
16     400m individual medley  4:02.50
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [7]:
df = df[~df["Event"].str.contains("relay")]

In [8]:
df.to_dict("records")

[{'Event': '50m freestyle', 'Time': '20.91'},
 {'Event': '100m freestyle', 'Time': '46.40'},
 {'Event': '200m freestyle', 'Time': '1:42.00'},
 {'Event': '400m freestyle', 'Time': '3:39.96'},
 {'Event': '800m freestyle', 'Time': '7:32.12'},
 {'Event': '1500m freestyle', 'Time': '14:30.67'},
 {'Event': '50m backstroke', 'Time': '23.55'},
 {'Event': '100m backstroke', 'Time': '51.60'},
 {'Event': '200m backstroke', 'Time': '1:51.92'},
 {'Event': '50m breaststroke', 'Time': '25.95'},
 {'Event': '100m breaststroke', 'Time': '56.88'},
 {'Event': '200m breaststroke', 'Time': '2:05.48'},
 {'Event': '50m butterfly', 'Time': '22.27'},
 {'Event': '100m butterfly', 'Time': '49.45'},
 {'Event': '200m butterfly', 'Time': '1:50.34'},
 {'Event': '200m individual medley', 'Time': '1:52.69'},
 {'Event': '400m individual medley', 'Time': '4:02.50'}]

In [9]:
dfi = df.set_index("Event")
dfi.head()

                   Time
Event
50m freestyle     20.91
100m freestyle    46.40
200m freestyle  1:42.00
400m freestyle  3:39.96
800m freestyle  7:32.12

In [ ]:
dfi.to_dict()

In [ ]:
records = {}
records["LC Men"] = dfi.to_dict()["Time"]

In [ ]:
RECORDS = (0, 1, 3, 4)
COURSES = ("LC Men", "LC Women", "SC Men", "SC Women")

records = {}
for table, course in zip(RECORDS, COURSES):
    df = tables[table][["Event", "Time"]]
    df = df[~df["Event"].str.contains("relay")]
    df = df.set_index("Event")
    records[course] = df.to_dict()["Time"]

print(records)

In [ ]:
import json

with open("records.json") as jf:
    gazpacho_records = json.load(jf)

records == gazpacho_records