In [1]:
print("hello")

hello

In [34]:
import pandas as pd
import requests

URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

headers = {
    "User-Agent": "Mozilla/5.0 (compatible; Pandas/2.x; Python)"
}

response = requests.get(URL, headers=headers)
response.raise_for_status()  # raises exception for non-200 responses

tables = pd.read_html(response.text)

/var/folders/4y/_z_7tnnj6zjc0qr4ckybxg180000gn/T/ipykernel_52567/660881278.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [17]:
df =tables[0][["Event", "Time"]]

df.head()

df.tail()

                        Event     Time
15     200m individual medley  1:52.69
16     400m individual medley  4:02.50
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [20]:
df = df[~df["Event"].str.contains("relay")]

In [23]:
df.to_dict("records")

[{'Event': '50m freestyle', 'Time': '20.91'},
 {'Event': '100m freestyle', 'Time': '46.40'},
 {'Event': '200m freestyle', 'Time': '1:42.00'},
 {'Event': '400m freestyle', 'Time': '3:39.96'},
 {'Event': '800m freestyle', 'Time': '7:32.12'},
 {'Event': '1500m freestyle', 'Time': '14:30.67'},
 {'Event': '50m backstroke', 'Time': '23.55'},
 {'Event': '100m backstroke', 'Time': '51.60'},
 {'Event': '200m backstroke', 'Time': '1:51.92'},
 {'Event': '50m breaststroke', 'Time': '25.95'},
 {'Event': '100m breaststroke', 'Time': '56.88'},
 {'Event': '200m breaststroke', 'Time': '2:05.48'},
 {'Event': '50m butterfly', 'Time': '22.27'},
 {'Event': '100m butterfly', 'Time': '49.45'},
 {'Event': '200m butterfly', 'Time': '1:50.34'},
 {'Event': '200m individual medley', 'Time': '1:52.69'},
 {'Event': '400m individual medley', 'Time': '4:02.50'}]

In [24]:
dfi = df.set_index("Event")
dfi.head()

                   Time
Event
50m freestyle     20.91
100m freestyle    46.40
200m freestyle  1:42.00
400m freestyle  3:39.96
800m freestyle  7:32.12

In [26]:
dfi.to_dict()

{'Time': {'50m freestyle': '20.91',
  '100m freestyle': '46.40',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:39.96',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:30.67',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:52.69',
  '400m individual medley': '4:02.50'}}

In [29]:
records = {}
records["LC Men"] = dfi.to_dict()["Time"]

In [ ]:
RECORDS = (0, 1, 3, 4)
COURSES = ("LC Men", "LC Women", "SC Men", "SC Women")

records = {}
for table, course in zip(RECORDS, COURSES):
    df = tables[table][["Event", "Time"]]
    df = df[~df["Event"].str.contains("relay")]
    df = df.set_index("Event")
    records[course] = df.to_dict()["Time"]

print(records)

{'LC Men': {'50m freestyle': '20.91', '100m freestyle': '46.40', '200m freestyle': '1:42.00', '400m freestyle': '3:39.96', '800m freestyle': '7:32.12', '1500m freestyle': '14:30.67', '50m backstroke': '23.55', '100m backstroke': '51.60', '200m backstroke': '1:51.92', '50m breaststroke': '25.95', '100m breaststroke': '56.88', '200m breaststroke': '2:05.48', '50m butterfly': '22.27', '100m butterfly': '49.45', '200m butterfly': '1:50.34', '200m individual medley': '1:52.69', '400m individual medley': '4:02.50'}, 'LC Women': {'50m freestyle': '23.61', '100m freestyle': '51.71', '200m freestyle': '1:52.23', '400m freestyle': '3:54.18', '800m freestyle': '8:04.12', '1500m freestyle': '15:20.48', '50m backstroke': '26.86', '100m backstroke': '57.13', '200m backstroke': '2:03.14', '50m breaststroke': '29.16', '100m breaststroke': '1:04.13', '200m breaststroke': '2:17.55', '50m butterfly': '24.43', '100m butterfly': '54.60', '200m butterfly': '2:01.81', '200m individual medley': '2:05.70', '400m individual medley': '4:23.65'}, 'SC Men': {'50m freestyle': '19.90', '100m freestyle': '44.84', '200m freestyle': '1:38.61', '400m freestyle': '3:32.25', '800m freestyle': '7:20.46', '1500m freestyle': '14:06.88', '50m backstroke': '22.11', '100m backstroke': '48.16', '200m backstroke': '1:45.12', '50m breaststroke': '24.95', '100m breaststroke': '55.28', '200m breaststroke': '1:59.52', '50m butterfly': '21.32', '100m butterfly': '47.68', '200m butterfly': '1:46.85', '100m individual medley': '49.28', '200m individual medley': '1:48.88', '400m individual medley': '3:54.81'}, 'SC Women': {'50m freestyle': '22.83', '100m freestyle': '49.93', '200m freestyle': '1:49.36', '400m freestyle': '3:50.25', '800m freestyle': '7:54.00', '1500m freestyle': '15:08.24', '50m backstroke': '25.23', '100m backstroke': '54.02', '200m backstroke': '1:57.33', '50m breaststroke': '28.37', '100m breaststroke': '1:02.36', '200m breaststroke': '2:12.50', '50m butterfly': '23.72', '100m butterfly': '52.71', '200m butterfly': '1:59.32', '100m individual medley': '55.11', '200m individual medley': '2:01.63', '400m individual medley': '4:15.48'}}

In [38]:
import json

with open("records.json") as jf:
    gazpacho_records = json.load(jf)

records == gazpacho_records

True