In [2]:
import data_utils

print([x for x in dir(data_utils) if not x.startswith("__")])

['DBcm', 'SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION', 'SQL_SESSIONS', 'SQL_SWIMMERS_BY_SESSION', 'SQL_SWIMMERS_EVENTS_BY_SESSION', 'db_details', 'get_session_swimmers', 'get_swim_sessions', 'get_swimmers_events', 'get_swimmers_times']

In [3]:
help(data_utils.get_swim_sessions)

Help on function get_swim_sessions in module data_utils:

get_swim_sessions()
    Return a tuple-list of unique session timestamps.

In [4]:
data_utils.get_swim_sessions()

[('2026-01-22 16:52:57',), ('2026-01-26 17:48:15',)]

In [5]:
data_utils.get_session_swimmers("2026-01-22")

[('Abi', 10),
 ('Ali', 12),
 ('Alison', 14),
 ('Aurora', 13),
 ('Bill', 18),
 ('Blake', 15),
 ('Calvin', 9),
 ('Carl', 15),
 ('Chris', 17),
 ('Darius', 13),
 ('Dave', 17),
 ('Elba', 14),
 ('Emma', 13),
 ('Erika', 15),
 ('Hannah', 13),
 ('Katie', 9),
 ('Lizzie', 14),
 ('Maria', 9),
 ('Mike', 15),
 ('Owen', 15),
 ('Ruth', 13),
 ('Tasmin', 15)]

In [7]:
data_utils.get_swimmers_events("Darius", 8, "2026-01-26")

[('50m', 'Back'), ('50m', 'Free'), ('50m', 'Breast')]

In [8]:
data_utils.get_swimmers_times("Darius", 8, "50m", "Free", "2026-01-26")

[('39.42',), ('36.13',), ('37.66',), ('39.07',)]

In [ ]:
data = data_utils.get_swim_sessions()
[d[0].split(" ")[0] for d in data]

['2026-01-22', '2026-01-26']

In [11]:
data = data_utils.get_session_swimmers("2026-01-22")
[f"{name}-{age}" for name, age in data]

['Abi-10',
 'Ali-12',
 'Alison-14',
 'Aurora-13',
 'Bill-18',
 'Blake-15',
 'Calvin-9',
 'Carl-15',
 'Chris-17',
 'Darius-13',
 'Dave-17',
 'Elba-14',
 'Emma-13',
 'Erika-15',
 'Hannah-13',
 'Katie-9',
 'Lizzie-14',
 'Maria-9',
 'Mike-15',
 'Owen-15',
 'Ruth-13',
 'Tasmin-15']

In [12]:
data = data_utils.get_swimmers_events("Darius", 8, "2026-01-26")
[f"{distance} {stroke}" for distance, stroke in data]

['50m Back', '50m Free', '50m Breast']

In [14]:
data = data_utils.get_swimmers_times("Darius", 8, "50m", "Free", "2026-01-26")
[d for d, *_ in data]

['39.42', '36.13', '37.66', '39.07']