In [ ]:
import queries

print(dir(queries))

In [ ]:
statements = []
for item in dir(queries):
    if item.startswith("__") and item.endswith("__"):
        continue
    statements.append(item)

print(statements)

In [ ]:
statements = [sql for sql in dir(queries) if not sql.startswith("__")]
statements

In [1]:
import DBcm
db_details = "CoachDB.sqlite3"

from queries import SQL_SESSIONS
print(SQL_SESSIONS)

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SESSIONS)
    results = db.fetchall()

results

    select distinct ts from times

[('2026-01-22 16:52:57',), ('2026-01-26 17:48:15',)]

In [ ]:
!python3 update_tables.py

In [3]:
from queries import SQL_SWIMMERS_BY_SESSION

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_BY_SESSION, ('2026-01-26',))
    results = db.fetchall()

results

[('Abi', 10),
 ('Blake', 15),
 ('Darius', 13),
 ('Darius', 8),
 ('Dave', 17),
 ('Katie', 9),
 ('Maria', 9),
 ('Owen', 15)]