In [ ]:
import queries

print(dir(queries))

In [ ]:
statements = []
for item in dir(queries):
    if item.startswith("__") and item.endswith("__"):
        continue
    statements.append(item)

print(statements)

In [ ]:
statements = [sql for sql in dir(queries) if not sql.startswith("__")]
statements

In [1]:
import DBcm
db_details = "CoachDB.sqlite3"

from queries import SQL_SESSIONS
print(SQL_SESSIONS)

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SESSIONS)
    results = db.fetchall()

results

    select distinct ts from times

[('2026-01-22 16:52:57',), ('2026-01-26 17:48:15',)]

In [ ]:
!python3 update_tables.py

In [4]:
from queries import SQL_SWIMMERS_BY_SESSION

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_BY_SESSION, ('2026-01-26',))
    results = db.fetchall()

results

[('Abi', 10),
 ('Blake', 15),
 ('Darius', 13),
 ('Darius', 8),
 ('Dave', 17),
 ('Katie', 9),
 ('Maria', 9),
 ('Owen', 15)]

In [5]:
from queries import SQL_SWIMMERS_EVENTS_BY_SESSION

print(SQL_SWIMMERS_EVENTS_BY_SESSION)

    select distinct events.distance, events.stroke
    from swimmers, events, times
    where times.swimmer_id = swimmers.id and
    times.event_id = events.id and
    (swimmers.name = ? and swimmers.age = ?) and
    date(times.ts) = ?

In [9]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_EVENTS_BY_SESSION, ("Darius", 13, "2026-01-22"))
    results = db.fetchall()
results

[('100m', 'Back'), ('100m', 'Breast'), ('100m', 'Fly'), ('200m', 'IM')]

In [11]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_EVENTS_BY_SESSION, ("Darius", 8, "2026-01-26"))
    results = db.fetchall()
results

[('50m', 'Back'), ('50m', 'Free'), ('50m', 'Breast')]

In [12]:
from queries import SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION
print(SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION)

    select times.time
    from swimmers, events, times
    where (swimmers.name = ? and swimmers.age = ?) and
    (events.distance = ? and events.stroke = ?) and
    swimmers.id = times.swimmer_id and
    events.id = times.event_id and
    date(times.ts) = ?

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION, ("Darius", 13, "100m", "Fly", "2026-01-22",))
    results = db.fetchall()
results

[('1:27.95',),
 ('1:21.07',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:27.95',),
 ('1:28.30',)]

In [20]:
def myfunc(*args):
    print(args)
myfunc([c for c in range(1,11)])

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10],)